@import "./colors.scss";

h1 {
    color: $text-primary;
}
h2 {
    color: $text-secondary;
}
h3 {
    color: $text-success;
}
h4 {
    color: $text-danger;
}
h5 {
    color: $text-waring;
}
h6 {
    color: $text-info;
}
